/* .ui0{
    background-color: chartreuse;
    width: 500px;
} */

.title{
    color: tomato;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#table{
    color: black;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.main{
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #e0f0f9;
    margin: 0;
    padding: 0;
}
.c{
    display: flex;
    align-items: center;
    justify-content: center;
}

#idx{
    /* display: flex;
    align-items: center;
    justify-content: center; */

    background-image: linear-gradient(0deg, #a7d9f5, #eaf6fd); /* グラデーション */
    border: 1px solid #3c7fb1; /* 枠線 */
    border-radius: 0.1em;      /* 角丸 */

    width: 120%;
    min-width: 50px;
    max-width: 300px;
    height: 45%;
    padding: 10px;

    box-sizing: border-box;
    background: #cbe8fa;
    cursor: pointer;
    color: #38488f;
    border: 1px solid #3c7fb1; /* 枠線 */
    border-radius: 0.3em; 
}

.edit-main{
    justify-self: center;
    display:flex;
}

#index_png img{
    object-position: right 100px bottom 50px;
    border-radius: 20px 30px 50% 10%;
}