.title{
    color: tomato;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

#table{
    color: black;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.main{
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #e0f0f9;
    margin: 0;
    padding: 0;
}

.c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-main{
    justify-self: center;
    display:flex;
}

#index_png img{
    object-position: right 100px bottom 50px;
    border-radius: 20px 30px 50% 10%;
}


table, td {
    border: 1px solid #333;
}


thead, tfoot {
    background-color: #333;
    color: #fff;
}