.title{
    color: blue;
    display: block;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.main{
    /* height: 200px; */
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #e0f0f9;
    margin: 0;
    font:400 14px 'Calibri','Arial';
    padding:20px;

}

blockquote {
    color:white;
    text-align:center;
}

.c{
    display: flex;
    align-items: center;
    justify-content: center;
}

.edit-main{
    justify-self: center;
    display:flex;
}

#index_png img{
    object-position: right 100px bottom 50px;
    border-radius: 20px 30px 50% 10%;
}




table {
    border-collapse: collapse;
    background: white;
    border-radius: 6px;
    overflow: hidden;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
table * {
    position: relative;
}
table td, table th {
    padding-left: 8px;

}
table thead tr {
    height: 60px;
    background: #cacaff;
    font-size: 16px;
}
table tbody tr {
    height: 48px;
    border-bottom: 1px solid #E3F1D5;
}
table tbody tr:last-child {
    border: 0;
}
table td, table th {
    text-align: left;
}
table td.l, table th.l {
    text-align: right;
}
table td.c, table th.c {
    text-align: center;
}
table td.r, table th.r {
    text-align: center;
}
