body {
    /* 背景色 */
    background-color: #e0f0f9;
    margin: 0;
    padding: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main {
    width: 600px;
    margin: 5em auto;
    padding: 2em;
    background-color: #fafaff;
    border-radius: 0.6em;
    box-shadow: 2px 3px 7px 2px rgba(0,0,0,0.02);
}

input{
    /* background-color: black; */
    background-image: linear-gradient(0deg, #a7d9f5, #eaf6fd); /* グラデーション */
    border: 1px solid #3c7fb1; /* 枠線 */
    border-radius: 0.1em;      /* 角丸 */
    
}

.login-btn:hover {
    /* マウスが上に載ったとき */
    background-image: linear-gradient(0deg, #68d3db, #e5f4fc);
    /* background-image: linear-gradient(0deg, #68d3db, #000); */
    border: 1px solid #2c628b;
}

.login-btn:active {
    /* 押されたとき */
    background-image: linear-gradient(180deg, #68d3db, #e5f4fc);
    border: 1px solid skyblue;
}

a:link, a:visited {
    /* リンクの色 */
    color: #38488f;
    text-decoration: none;
}


.login-btn{
    width: 25%;
    min-width: 10px;
    max-width: 100px;
    height: 25%;
    padding: 10px;
    box-sizing: border-box;
    background: #cbe8fa;
    cursor: pointer;
    color: #38488f;
    border: 1px solid #3c7fb1; /* 枠線 */
    border-radius: 0.3em; 
}
